.page {


	// .page__gallery
	&__gallery {}
}

.gallery {
	@include adaptiveValue("padding-top", 120, 50, 1250, 375, 1);
	@include adaptiveValue("padding-bottom", 100, 50, 1250, 375, 1);

	// .gallery__body
	&__body {
		position: relative;

		@media (any-hover: none) {
			// медиазапрос только для тач-устройств, для устройств где нельзя навести
			// включаем горизонтальный скрол
			overflow: auto;
			-webkit-overflow-scrolling: touch;
		}
	}

	// .gallery__items
	&__items {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(rem(407), 1fr));
		grid-auto-flow: column;
		gap: rem(15);

		@media (any-hover: hover) {
			&:hover {
				// justify-content: center;
			}
		}
	}

	// .gallery__column
	&__column {
		display: flex;
		flex-direction: column;
		gap: rem(15);
		flex-wrap: wrap;
		// align-items: center;
		// margin: 0 rem(-8);
	}

	// .gallery__row
	&__row {}
}


// ------------------------------------------------------------------------
// ------------------------------------------------------------------------
// ------------------------------------------------------------------------
// Напів-прозорий фон коли клікаешь на фото шукати в lightgallery-core.scss класс .lg-backdrop в &.in opacity: 0.8;
// Контент галереи
.body-tabs {
	// все настройки для галереи
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: auto;
	justify-content: start;
	gap: rem(15);


	@media (min-width:$tablet) {
		// все настройки для галереи
		grid-template-columns: repeat(auto-fit, minmax(rem(300), 1fr));
		align-items: start;
	}

	// .body-tabs__img
	&__img {
		transition: all 0.3s ease 0s;

		@media (any-hover: hover) {
			&:hover {
				box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
				transform: scale(1.03);
			}
		}

		// все настройки для галереи
		@media (max-width:$mobile) {
			max-height: rem(300);
		}

		@media (min-width:$tablet) {
			width: 100%;
			height: 100%;
			overflow: hidden;
			border-radius: rem(5);
		}

		img {
			object-fit: cover;
			overflow: hidden;
			border-radius: rem(5);
			height: 100%;

			@media (max-width:$mobile) {
				max-width: rem(200);
			}

			@media (min-width:$mobile) {
				height: 100%;
				width: 100%;
			}
		}

		// .body-tabs__img_1
		&_1 {
			@media (min-width:$mobile) {
				grid-row: 1/span 10;
				grid-column: 1;
			}
		}

		// .body-tabs__img_2
		&_2 {
			@media (min-width:$mobile) {
				grid-row: 1/span 10;
				grid-column: 2;
			}
		}

		// .body-tabs__img_3
		&_3 {
			@media (min-width:$mobile) {
				grid-row: 1/span 22;
				grid-column: 3;
			}
		}

		// .body-tabs__img_4
		&_4 {
			@media (min-width:$mobile) {
				grid-row: 11/span 19;
				grid-column: 1;
			}
		}

		// .body-tabs__img_5
		&_5 {
			@media (min-width:$mobile) {
				grid-row: 11/span 11;
				grid-column: 2;
			}
		}

		// .body-tabs__img_6
		&_6 {
			@media (min-width:$mobile) {
				grid-row: 23/span 9;
				grid-column: 3;
			}
		}

		// .body-tabs__img_7
		&_7 {
			@media (min-width:$mobile) {
				grid-row: 30/span 21;
				grid-column: 1;
			}
		}

		// .body-tabs__img_8
		&_8 {
			@media (min-width:$mobile) {
				grid-row: 22/span 10;
				grid-column: 2;
			}
		}

		// .body-tabs__img_9
		&_9 {
			@media (min-width:$mobile) {
				grid-row: 32/span 20;
				grid-column: 2;
			}
		}

		// .body-tabs__img_10
		&_10 {
			@media (min-width:$mobile) {
				grid-row: 32/span 21;
				grid-column: 3;
			}
		}
	}
}